.feedback
	overflow hidden
	&__header
		text-align center
	&__title
		margin-bottom 10px
		font-size 36px
		color brandColor
	&__text
		margin-bottom 50px
		font-size 16px
		line-height 1.4
		@media phone
			br
				display none
	&__form
		position relative
		z-index 2
		width 340px
		margin 0 auto
		@media phone
			width auto
			max-width 340px
		&-footer
			margin-top 35px
			text-align center
	&__stamp
		float right
		margin-top -60px