.feedback
	padding 60px 0
	&__header
		text-align center
	&__title
		margin-bottom 10px
		font-size 36px
		color brandColor
	&__text
		margin-bottom 50px
		font-size 16px
		line-height 1.4
	&__form
		width 340px
		margin 0 auto
		&-footer
			text-align center
	&__stamp
		float right
		margin-top -60px