- var asset = function(name) { return "/assets/" + name }
- var wp_title = function() {}
- var wp_head = function() {}
- var wp_footer = function() {}
- var tr = function(s) { return s; }
- var do_action = function() {}
- var getPageContent = function() {return content}