- var site = queryFile({ fullname: "data/site" })
- var mainMenu = queryFile({ fullname: "data/mainMenu" }).items
- var campuses = queryFile({ fullname: "data/campuses" }).items
- var langs = [{url:'http://amerigoeducation.com', title:'ENGLISH', active: true}, {url:'/', title:'CHINESE'}, {url:'/', title:'PORTUGUESE'}, {url:'/', title:'SPANISH'}, {url:'/', title:'VIETNAMESE'}]
- var footerMenu = [mainMenu[0], mainMenu[1], mainMenu[3]]