+e("h2").title!= title
+e("form").form
	fieldset
		.form-group
			each item in langs
				.radio
					label
						if item.active
							input.active(type="radio" name="language" value=item.url checked)
						else
							input(type="radio" name="language" value=item.url)
						span= item.title
		+e.form-footer
			+e("button").form-button.btn(type="submit")= btnText