mixin modal(name, title, classes)
	.modal.fade(id=name, class=classes tabindex="-1")
		.modal-dialog(class=dialogClasses)
			.modal-content
				if title
					.modal-header
						button.modal-close(data-dismiss="modal" type="button")
						.modal-title!= title
				//- else
				//- 	button.modal-close(data-dismiss="modal" type="button")
				.modal-body
					block


+modal("language-modal", "", "fullwidth-modal modal-language")
	+b.language-box: +i({ title: tr("Please select your language"), btnText: tr("Confirm") })
+modal("success-modal", "", "fullwidth-modal modal-success")
	+b.success-box: +i({ title: tr("THANK YOU FOR GETTING IN TOUCH!"), text: tr('If your inquiry is urgent, please use the telephone number listed below, to talk to one of our staff members. Otherwise, we will reply by email shortly.'), btnText: tr("close") })