.page
	padding 120px 0 60px
	clearfix()
	&_contacts
		.page
			&__sidebar
				float left
				width 45%
			&__content
				float left
				width 55%
				padding-left 80px
				@media tablet
					padding-left 60px
				a
					text-decoration none
					&:hover
						text-decoration underline