.page
	padding 120px 0 60px
	clearfix()
	&_contacts
		.page
			&__sidebar
				float left
				width 45%
				@media phone
					float none
					width auto
					margin-bottom 50px
			&__content
				float left
				width 55%
				padding-left 80px
				@media tablet
					padding-left 60px
				@media phone
					float none
					width auto
					padding-left 0
				a
					border-bottom 1px solid rgba(0,0,0,.5)
					text-decoration none !important
					&:hover
						border-bottom 1px solid rgba(255,0,0,.5)