.page
	padding 120px 0 60px
	clearfix()
	&__section
		margin-bottom 60px
		&-title
			margin-bottom 15px
			font-family garamondPremier
			font-size 30px
			font-style italic
			color brandColor
	&_contacts
		.page
			&__sidebar
				float left
				width 45%
				@media md_lg
					width 40%
			&__content
				float left
				width 55%
				padding-left 80px
				@media md_lg
					width 60%