.history
	position relative
	&__image
		position absolute
		top 40px
		width 460px
		right 0
	&__img
		padding-bottom 66.6%
		background-position center
		background-size cover
	
	&__name
	&__body
		padding-left 50px
		padding-right 50px
		

	&__name
		font-family nobel
		font-size 17px
		text-transform uppercase
		color brandColor
		margin-top 10px
		padding-right 500px
	&__body
		background brandColor
		color white
		margin-top 20px
		padding-top 30px
		padding-bottom 30px
		max-width 80%
	&__title
		font-size 36px
		font-family bodoni
		letter-spacing 0.1em
		margin-bottom 20px
	&__text
		font-family nobel
		font-size 14px
		font-weight 600
		letter-spacing -0.03em
		p
			margin-bottom 7px
		
		
