.about
	&__image
		overflow hidden
		img
			width 100%
		@media phone
			width 80%
			margin 0 auto
	&__content
		float right
		width 60%
		padding-left 30px
		@media phone
			float none
			width auto
			padding-left 0
			margin 0 0 50px
	&__title
		font-size 32px
		@media phone
			font-size 22px
			line-height 1.4
			margin 0 0 35px