.error-box
	margin-top 60px
	text-align center
	&__title
		font-size 200px
		line-height 1
		color brandColor
		@media phone
			font-size 100px
	&__subtitle
		font-size 40px
		@media phone
			font-size 30px
		a
			font-size 20px
			text-decoration none