.intl-tel-input
	.selected-flag
		padding 0
	&.allow-dropdown
		input
		input[type=text]
		input[type=tel]
			padding-left 44px
			padding-right 0
		.flag-container:hover .selected-flag
			background none
	.selected-flag .iti-arrow
		right 14px
	.country-list
		-webkit-overflow-scrolling touch
	.flag-container
		z-index 5