.campus
	text-align center
	&__link
		border 0 none
		text-decoration none
		color inherit
	&__image
		display block
		padding-bottom 75%
		background-color #f5f5f5
		background-size cover
		background-position center
		margin-bottom 15px
	&__caption
		display block
		height 100px
		overflow hidden
		margin-bottom 10px
	&__title
		display block
		text-transform uppercase
		font-family bodoni
		color brandColor
		font-size 18px
		overflow hidden
		@media tablet
			font-size 16px
	&__location
		display block
		color #666666
		font-family garamondPro
		font-style italic
		font-size 16px
		white-space nowrap
		overflow hidden
		text-overflow ellipsis
	&__more
		display block
		font-family nobel
		font-size 13px
		color brandColor
		letter-space 0.01em
		text-transform uppercase