.fixed-panel
	position fixed
	left 0
	right 0
	bottom 0
	opacity 0
	height 40px
	padding 10px 0
	background brandColor
	font-family nobel
	font-size 12px
	font-weight 600
	color white !important
	text-transform uppercase
	text-decoration none
	text-align center
	box-shadow 700px 0 0 0.01px brandColor, -700px 0 0 0.01px brandColor
	cursor pointer
	z-index 1000
	transition .15s opacity
	&:hover
		&:after
			transform translateX(5px)
	&:after
		content '>'
		display inline-block
		vertical-align middle
		font-size 14px
		line-height 1
		margin -2px 0 0 5px
		transition .1s transform ease-in-out
	&.active
		opacity 1
	&__link
		color white !important
