.fixed-panel
	position fixed
	z-index 1000
	left 0
	right 0
	bottom 0
	opacity 0
	height 40px
	padding 10px 0
	line-height 20px
	background-color brandColor
	font-family nobel
	font-size 12px
	font-weight 600
	text-transform uppercase
	text-align center
	color #fff
	transition .15s opacity ease-in-out
	&:hover
		&:after
			transform translateX(5px)
	&:after
		content '>'
		display inline-block
		vertical-align middle
		font-size 14px
		line-height 1
		margin -2px 0 0 5px
		transition .1s transform ease-in-out
	&.active
		opacity 1
	&__link
		color #fff
		text-decoration none
		&:hover
			color #fff
