.gallery
	.fp-tableCell
		vertical-align top !important
	.fotorama
		&__nav
			&-wrap
				position absolute
				bottom 10px
				left 0
				right 0
			&__frame
				width 28px
				height 4px
				margin 8px
				.fotorama__dot
					top 0
					left 0
					width 28px
					height 4px
					border 1px solid brandColor
					border-radius 0
					background-color inherit
					transition .3s background-color
				&.fotorama__active
					background-color brandColor
		&__arr
			&--prev
			&--next
				width 15px
				height 24px
				background-image url('i/arrows.svg')
				background-repeat no-repeat
				background-size 30px 24px
			&--next
				right 30px
				background-position -15px 0
				&:hover
					transform translateX(5px)
			&--prev
				left 30px
				background-position 0 0
				&:hover
					transform translateX(-5px)