.campuses
	.container
		padding-bottom 0
	&__title
		color brandColor
		text-transform uppercase
		font-size 30px
		margin-bottom 25px
		letter-spacing 0.1em
	&__list
		margin 0 -12px
		clearfix()
	&__item
		float left
		width 33.333%
		padding 0 12px
		margin-bottom 60px
	&__join-link
		display block
		clear both
		height 40px
		margin-bottom 20px
		padding 10px 0
		background brandColor
		font-family nobel
		font-size 12px
		font-weight 600
		color white !important
		text-transform uppercase
		text-decoration none
		text-align center
		box-shadow 700px 0 0 0.01px brandColor, -700px 0 0 0.01px brandColor
		transform translateY(-20px)
		cursor pointer
		&:hover
			&:after
				transform translateX(5px)
		&:after
			content '>'
			display inline-block
			vertical-align middle
			font-size 14px
			line-height 1
			margin -2px 0 0 5px
			transition .1s transform ease-in-out