+e.inner
	+e.nav
		+b("nav").menu: +i({ prefix: "nav", items: mainMenu, activeMenuIndex: activeMenuIndex })
	+e.section
		+e.address!= site.address
	if langs && langs.length > 1
		+e.section
			+e.section-title Language
			+e("ul").language
				each item in langs
					+e("li").language-item
						+e("a").language-link(href=item.url)= item.title