.main-menu
	margin 0
	padding 0
	list-style none
	position relative
	@media phone_tablet
		display none
	&__item
		position relative
		float left
		padding 0 9px
		&.active
			> .main-sub-menu
				opacity 1
				transform scaleY(1) translateX(-50%)
			> .main-sub-menu__item-link
				color brandColor
		&:last-child
			padding-right 0
		&-link
			display block
			position relative
			z-index 20
			padding 14px 0 11px
			font-size 10px
			text-transform uppercase
			text-decoration none	
		&:hover
			z-index 3
		&.active
			z-index 2
		&.active
		&:hover
			.main-sub-wrap
				transform scaleY(1)
		&.active &-link
			color brandColor
		&-has_sub
			&.active
			&:hover
				.main-menu__item-link:after
					opacity 1
			.main-menu__item-link
				&:after
					content ""
					position absolute
					top 100%
					left 50%
					width 0
					height 0
					border-style solid
					border-width 4px 5px
					border-color #fff transparent transparent
					opacity 0
					transition .2s opacity ease-in-out
					z-index 20
	.main-sub
		&-menu
			padding 0
			list-style none
			left 50%
			text-align center
			transform-origin 100% 0
			transform scaleY(0) translateX(-50%)
			font-size 0
			position absolute
			top 100%
			white-space nowrap
			z-index 2
			background-color greyColor
			opacity 0
			transition transform .2s ease-out, opacity .2s ease-out
			&:before
			&:after
				content ''
				position absolute
				top 0
				bottom 0
				width 3000px
				background-color greyColor
				@media phone_tablet
					display none
			&:before
				right 100%
				margin-right -1px
			&:after
				left 100%
				margin-left -1px
			&__item
				display inline-block
				vertical-align top
				&.active .main-sub-menu__item-link
					color #fff
				&-link
					display block
					padding 6px 10px
					font-size 11px
					color #000
					text-decoration none
					&:hover
						color #fff