.main-menu
	margin 0
	padding 0
	list-style none
	&__item
		float left
		margin-right 20px
		&:last-child
			margin-right 0
		&-link
			font-size 11px
			text-transform uppercase
			text-decoration none
	.main-sub-menu
		display none