.main-menu
	margin 0
	padding 0
	list-style none
	position relative
	@media phone_tablet
		display none
	&__item
		position relative
		float left
		margin-right 18px
		&.active
			> .main-sub-menu
				display block
			> .main-sub-menu__item-link
				color brandColor
		&:last-child
			margin-right 0
		&-link
			display block
			position relative
			z-index 2
			padding 14px 0 11px
			font-size 10px
			text-transform uppercase
			text-decoration none	
		&:hover
			z-index 3
		&.active
			z-index 2
		&.active
		&:hover
			.main-sub-wrap
				transform scaleY(1)
		&.active &-link
			color brandColor
		&-has_sub
			&.active
			&:hover
				.main-menu__item-link:after
					opacity 1
			.main-menu__item-link
				&:after
					content ""
					position absolute
					top 100%
					left 50%
					width 0
					height 0
					border-style solid
					border-width 4px 5px
					border-color #fff transparent transparent
					opacity 0
					transition .2s opacity ease-in-out
					z-index 20
	.main-sub
		&-menu
			padding 0
			list-style none
			left 50%
			text-align center
			transform translateX(-50%)
			font-size 0
			display none
			position absolute
			top 100%
			white-space nowrap
			z-index 2
			&__item
				display inline-block
				vertical-align top
				&.active .main-sub-menu__item-link
					color #fff
				&-link
					display block
					padding 6px 10px
					font-size 11px
					color #000
					text-decoration none
					&:hover
						color #fff