.section
	position relative
	background-size cover
	background-position center center
	.fp-enabled &
		height 100vh
	&-arrow
		position absolute
		bottom 15px
		left 50%
		width 40px
		height 40px
		margin-left -20px
		text-decoration none
		&:before
			content ""
			position absolute
			top 13px
			left 11px
			width 18px
			height 13px
			background url('i/arrow-bottom.svg') no-repeat 0 0
			background-size 36px 13px
			animation scrollingArrow 2s infinite ease-in-out
		&_white
			&:before
				background-position -18px 0
	.fp-tableCell
		padding 60px 0

@keyframes scrollingArrow
	0%
		transform translateY(0)
	50%
		transform translateY(10px)
	100%
		transform translateY(0)