.section
	position relative
	background-size cover
	background-position center center
	&-arrow
		position absolute
		bottom 15px
		left 50%
		width 40px
		height 40px
		margin-left -20px
		a&
			text-decoration none
		&:before
			content ""
			position absolute
			top 13px
			left 11px
			width 18px
			height 13px
			background url('i/arrow-bottom.svg') no-repeat 0 0
			background-size 54px 13px
			animation scrollingArrow 2s infinite ease-in-out
		&_light
			&:before
				background-position -18px 0
		&_dark
			&:before
				background-position -36px 0

.fp-tableCell > .container
.fp-scroller > .container
.section >.container
	padding-top 60px
	padding-bottom 60px
	@media phone
		padding-top 30px
		padding-bottom 30px
		

@keyframes scrollingArrow
	0%
		transform translateY(0)
	50%
		transform translateY(10px)
	100%
		transform translateY(0)