.overview
	&__title
		font-size 30px
		text-transform uppercase
		color brandColor
		@media phone_tablet
			font-size 24px
	&__text
		margin-bottom 75px
		font-family bodoni
		font-size 30px
		line-height 1.4
		@media tablet_desktop
			width 80%
		@media tablet
			font-size 24px
		@media phone
			font-size 16px
	&__subtitle
		margin-bottom 80px
		font-family mainFont
		font-size 48px
		font-weight 100
		text-transform uppercase
		@media tablet
			margin 0 0 40px 0
			font-size 32px
		@media phone
			margin-bottom 20px
			font-size 28px
	&__list
		&-item
			clearfix()
			margin-bottom 70px
			@media tablet
				margin-bottom 50px
			@media phone
				margin-bottom 30px
				&:last-child
					margin-bottom 0
			&:last-child
				margin-bottom 30px
			&:nth-child(odd)
				.overview__list
					&-image
						float left
						margin-right 20px
						@media phone
							float none
							margin 0 auto 25px
							text-align center
					&-content
						@media desktop
							padding-right 10%
						@media phone
							text-align center
					&-text
						@media phone
							padding-left 30px
							text-align left

			&:nth-child(even)
				text-align right
				.overview__list
					&-image
						float right
						margin-left 20px
						@media phone
							float none
							margin 0 auto 25px
							text-align center
					&-content
						@media desktop
							padding-left 10%
						@media phone
							padding 0 10px
							text-align center
					&-text
						@media phone
							padding-left 30px
							text-align left
		&-image
			width 140px
			height 190px
			@media tablet
				width 170px
				height 231px
			@media phone
				float none
				width 80%
				height auto
			img
				max-width 100%
		&-content
			overflow hidden
			position relative
		&-name
			font-family bodoni
			font-size 30px
			line-height 1.1
			text-transform uppercase
			color brandColor
			@media tablet
				font-size 24px
			@media phone
				font-size 18px
		&-position
			margin-bottom 5px
			font-family garamondPro
			font-style italic
			color #939598
		&-text
			@media phone
				display none
				padding 0 !important
				text-align left
				visibility visible !important
				opacity 1 !important
				.overview__list-item.active &
					display block
		
	&__toggle
		text-transform uppercase
		color brandColor
		cursor pointer
		display none
		&-less
			display none
		&.active &-less
			display inline
		&.active &-more
			display none
		@media phone
			display block
			margin-bottom 10px
					
	
	&__list-item.collapsed
		.overview
			&__list-content
				@media desktop
					height 190px + 3px
				@media tablet
					height 230px + 3px
			
			&__list-text
				overflow hidden
				@media desktop
					height 190px - 60px - 20px
				@media tablet
					height 230px - 60px - 20px
			&__toggle
				display block
				@media tablet_desktop
					position absolute
					bottom -5px
					left 0
					right 0
					background-size 100% 100%
					background-repeat repeat-x
					z-index 5
		&.active .overview
			&__toggle
				@media tablet_desktop
					padding-top 0
			&__list-text
				@media tablet_desktop
					height auto
			&__list-content
				@media tablet_desktop
					padding-bottom 30px
					height auto
					
					


