.overview
	&__title
		font-size 30px
		text-transform uppercase
		color brandColor
		@media tablet
			font-size 24px
		@media  phone
			padding 0 30px
			font-size 24px
	&__text
		margin-bottom 75px
		font-family bodoni
		font-size 30px
		line-height 1.4
		@media tablet_desktop
			width 80%
		@media tablet
			font-size 24px
		@media phone
			padding 0 30px
			font-size 16px
	&__subtitle
		margin-bottom 80px
		font-family mainFont
		font-size 48px
		font-weight 100
		text-transform uppercase
		@media tablet
			margin 0 0 40px 0
			font-size 32px
		@media phone
			padding-left 20px
			margin 0 0 20px 0
			font-size 20px
	&__toggle
		text-transform uppercase
		color brandColor
		cursor pointer
		@media desktop
			display none
		@media tablet
			display none
		@media phone
			&.active
				display block !important
	&__list
		&-item
			clearfix()
			margin-bottom 70px
			@media tablet
				margin 0 0 50px 0
			@media phone
				margin 0 0 35px 0
			&:last-child
				margin-bottom 30px
			&:nth-child(odd)
				.overview__list
					&-image
						float left
						margin-right 20px
						@media phone
							float none
							margin 0 auto 25px
							text-align center
					&-content
						@media desktop
							padding-right 10%
						@media phone
							text-align center
					&-text
						@media phone
							display none
							padding-left 30px
							text-align left

			&:nth-child(even)
				text-align right
				.overview__list
					&-image
						float right
						margin-left 20px
						@media phone
							float none
							margin 0 auto 25px
							text-align center
					&-content
						@media desktop
							padding-left 10%
						@media phone
							padding 0 10px
							text-align center
					&-text
						@media phone
							display none
							padding-left 30px
							text-align left
		&-image
			width 140px
			height 190px
			@media tablet
				width 180px
				height 230px
			@media phone
				float none
				width 60%
				height auto
			img
				max-width 100%
		&-content
			overflow hidden
		&-name
			font-family bodoni
			font-size 30px
			line-height 1.1
			text-transform uppercase
			color brandColor
			@media tablet
				font-size 24px
			@media phone
				font-size 18px
		&-position
			margin-bottom 5px
			font-family garamondPro
			font-style italic
			color #939598
		&-text
			@media phone
				padding 0 30px
				text-align left