.overview
	&__title
		font-size 30px
		text-transform uppercase
		color brandColor
		@media tablet
			font-size 24px
	&__text
		width 80%
		margin-bottom 75px
		font-family bodoni
		font-size 30px
		line-height 1.4
		@media tablet
			font-size 24px
	&__subtitle
		margin-bottom 80px
		font-family mainFont
		font-size 48px
		font-weight 100
		text-transform uppercase
		@media tablet
			margin 0 0 40px 0
			font-size 32px
	&__list
		&-item
			clearfix()
			margin-bottom 70px
			@media tablet
				margin 0 0 50px 0
			&:last-child
				margin-bottom 30px
			&:nth-child(odd)
				.overview__list
					&-image
						float left
						margin-right 20px
					&-content
						@media desktop
							padding-right 10%

			&:nth-child(even)
				text-align right
				.overview__list
					&-image
						float right
						margin-left 20px
					&-content
						@media desktop
							padding-left 10%
		&-image
			width 140px
			height 190px
			@media tablet
				width 180px
				height 230px
			img
				max-width 100%
		&-content
			overflow hidden
		&-name
			font-family bodoni
			font-size 30px
			line-height 1.1
			text-transform uppercase
			color brandColor
			@media tablet
				font-size 24px
		&-position
			margin-bottom 5px
			font-family garamondPro
			font-style italic
			color #939598