.visual
	display block
	height 100vh
	background-size cover
	background-repat no-repeat
	background-position center
	&_mobile
		position relative
		
		@media tablet_desktop
			display none !important
		@media phone
			.visual__title
				display block
			.visual__img
				position fixed !important
			.fp-tableCell
				vertical-align bottom
			+ .visual
				background none !important
				.section-arrow:before
					background-position 0 0 !important
				.visual__text
					color #000
				.visual__img
					display none !important
				.fp-tableCell
					vertical-align middle
	&_title
		&-color-light
			.visual__title
				color #fff
		&-color-dark
			.visual__title
				color #000
	&_text
		&-right-top
			@media tablet_desktop
				.fp-tableCell
					vertical-align top
				.visual__text
					padding-top 60px
					margin-left auto
					text-align right
		&-left-bottom
			.fp-tableCell
				vertical-align bottom
		&-light
			.visual__text
				color #fff
		&-dark
			.visual__text
				color #000
	&__text
		font-family bodoni
		font-size 40px
		line-height 1.5
		color brandColor
		@media desktop
			width 80%
		@media phone
			font-size 20px
	&__title
		font-size 1.3em
		display none
		text-align center
		text-transform uppercase
		line-height 1.2
		color brandColor

	&__inner
		&.container
			padding-top 110px
			padding-bottom 60px
			@media phone
				padding-top 60px
				padding-bottom 60px
	&__img
		@media phone
			position absolute
			top 0
			left 0
			bottom 0
			right 0
			background-size cover
			background-repat no-repeat
			background-position center
	
