.visual
	display block
	height 100vh
	background-color greyColor
	&_text
		width 80%
		font-family bodoni
		font-size 40px
		line-height 1.5
		color brandColor
		&-left-bottom
			.fp-tableCell
				vertical-align bottom
		&-light
			.visual__text
				color #fff
