if image
	+e.img(style="background-image: url('#{image}');")
+e.inner.container
	+e.text
		if title
			+e.title!= title
		+e.body!= text
if arrowAnchor
	- classes = ""
	if arrowColor
		- classes = "section-arrow_" + arrowColor
	a.section-arrow(class=classes, data-menuanchor=arrowAnchor)