+e.image(style="background-image: url('#{image}');")
+e.body
	+e.header
		+e("h2").title
			+e("span").title-label Amerigo Program /
			+e("span").title-main!= title
	+e("h3").subtitle!= subTitle
	+e.text!= text