.info-card
	clearfix()
	position relative
	.fp-scroller
		position relative
		clearfix()
	&_text
		&-right
			.info-card
				&__header
					padding-left 45px
				&__anchor
					margin-left 45px
				&__body
					margin-left auto
					margin-right 0
					&-inner
						padding-left 45px
		&-left
			.info-card
				&__image
					right 0
					left 50%
				&__header
					padding-right 45px
				&__anchor
					margin-right 45px
				&__body
					&-inner
						margin-left auto
						margin-right 0
						padding-right 45px
	&_simple
		.info-card
			&__body
				color #000
				background-color #fff
			&__subtitle
				color brandColor
			&__anchor
				font-family garamondPremier
				color brandColor
				font-style italic
				&-label
					font-size 23px
					text-transform none
	&__body
	&__image
		width 50%
		height 100%
	&__body
		margin-right auto
		background-color brandColor
		color #fff
		&-inner
			display table
			position relative
			height 100%
			padding-top 150px
			padding-bottom 100px
			@media lg
				width ((1320 / 2) - 10)px
			@media md
				width ((1220 / 2) - 10)px
			@media sm
				width ((980 / 2) - 10)px
			@media tablet
				width ((760 /2) - 10)px
		ul
			margin 15px 0
			padding 0
			list-style none
	&__image
		position absolute
		left 0
		right 50%
		top 0
		bottom 0
		background-position center center
		background-repeat no-repeat
		background-size cover
	&__header
		position absolute
		top 100px
		left 0
		right 0
	&__content
		display table-cell
		vertical-align middle
	&__title
		margin 0
		font-size 16px
		letter-spacing 1pt
		color #000
		&-label
			text-transform uppercase
	&__subtitle
		margin 0 0 30px
		font-family garamondPremier
		font-size 30px
		font-style italic
	&__text
		margin-bottom 20px
		font-size 16px
	&__anchor
		position absolute
		bottom 0
		left 0
		right 0
		padding-bottom 50px
		text-align center
		color #fff
		cursor pointer
		&-label
			font-size 12px
			text-transform uppercase
			letter-spacing 1pt