.info-card
	position relative
	overflow hidden
	.fp-scroller
		position relative
		clearfix()
	&_text
		&-right
			.info-card
				&__body
					margin-left auto
					margin-right 0
					&-inner
						padding-left 50px
		&-left
			.info-card
				&__image
					right 0
					left 50%
				&__body
					&-inner
						margin-left auto
						margin-right 0
						padding-right 50px
	&_simple
		.info-card
			&__body
				color #000
				background-color #fff
			&__subtitle
				color brandColor
			&__body
			&__image
				&-mask
					display none
	&__body
	&__image
		&-mask
			position absolute
			top 0
			left 0
			right 0
			bottom 0
			background #fff
			z-index 2
		@media desktop
			width 50%
	&__body
		margin-right auto
		background-color brandColor
		color #fff
		position relative
		&-mask
			transform-origin 50% 0
		&-inner
			position relative
			padding-top 50px
			padding-bottom 50px
			@media desktop
				width ((980 / 2) - 10)px
			@media tablet
				width 760px
				margin 0 auto !important
				padding 50px 10px !important
			@media phone
				padding 30px 10px !important
		ul
			margin 15px 0
			padding 0
			list-style none
	&__image
		background-position center center
		background-repeat no-repeat
		background-size cover
		&-mask
			transform-origin 50% 100%
		@media desktop
			position absolute
			left 0
			right 50%
			top 0
			bottom 0
		@media tablet
			height 400px
		@media phone
			height 300px
	&__header
		margin-bottom 50px
		@media phone
			margin-bottom 30px
	&__title
		margin 0
		font-size 16px
		letter-spacing 1pt
		color #000
		&-label
			text-transform uppercase
	&__subtitle
		margin 0 0 30px
		font-family garamondPremier
		font-size 30px
		font-style italic
	&__text
		margin-bottom 20px
		font-size 16px
	&__anchor
		position relative
		padding-bottom 30px
		font-family garamondPremier
		color brandColor
		font-style italic
		text-align center
		&-label
			font-size 23px
			text-transform none
		.section-arrow
			bottom 0
