.container
	+e.inner
		+e("ul").menu
			each item, i in footerMenu
				+e("li").menu-item
					+e("a").menu-link(href=item.url)= item.title
					if item.children
						+e("ul").menu-sub
							each subItem in item.children
								+e("li").menu-sub-item
									+e("a").menu-sub-link(href=subItem.url)= subItem.title
		+e.section
			+e("a").section-title(href=site.contactsLink)= tr('Contact us')
			+e.address!= site.address
			+e.socials
				+b.socials: +i({ items: site.socials })
		if langs && langs.length > 1
			+e.section
				+e.section-title= tr('Language')
				+e("ul").language
					each item in langs
						+e("li").language-item
							+e("a").language-link(href=item.url)= item.title