.footer
	position absolute
	left 0
	right 0
	bottom 0
	background-color #ececeb
	.fp-tableCell > .container
	> .container
		padding-top 35px !important
		padding-bottom 35px !important
	&__inner
		@media tablet_desktop
			width 100%
			display inline-flex
			justify-content space-around
	&__menu
		margin 0
		padding 0
		list-style none
		font-size 13px
		@media tablet_desktop
			flex 3
		@media phone
			font-size 15px
			text-align center
		&-item
			@media tablet_desktop
				float left
				width 33.333%
		&-link
			display block
			margin-bottom 5px
			text-transform uppercase
			font-weight normal
			text-decoration none
		&-sub
			margin 0
			padding 0
			list-style none
			@media phone
				display none
			&-item
				margin-bottom 5px
				&:last-child
					margin-bottom 0
			&-link
				text-decoration none
	&__section
		@media tablet_desktop
			flex 1
			&:last-child
				flex none
		@media phone
			margin-top 30px
			text-align center
		&-title
			margin-bottom 5px
			font-size 13px
			text-transform uppercase
			font-weight normal
			@media phone
				font-size 15px
	&__language
		margin 0
		padding 0
		list-style none
		font-size 13px
		@media phone
			font-size 15px
		&-item
			margin-bottom 5px
			&:last-child
				margin-bottom 0
		&-link
			text-decoration none
	&__address
		font-size 13px
		line-height 1.95
		@media phone
			font-size 15px
		a
			text-decoration none
	&__socials
		margin-top 5px
		@media phone
			margin-top 10px