+e.image(style="background-image: url('#{image}')")
.container
	+e.title!= title
	+e.text!= text
	if arrowAnchor
		if arrowColor
			- classes = "section-arrow_" + arrowColor
		.section-arrow(class=classes, data-menuanchor=arrowAnchor)