.collapsed-image
	.container
		padding-top 35px
		padding-bottom 35px
	&__title
	&__text
		@media desktop
			padding-left 80px
			padding-right 80px
	&__image
		height 100vh
		background-position center
		background-size cover
	&__title
		font-size 44px
		letter-spacing 0.1em
		line-height 1.2
		font-family bodoni
		color brandColor
	&__text
		font-family nobel
		font-size 17px
		margin-top 45px
		p
			margin-bottom 30px