#fp-nav
	&.right
		right 20px
	ul
		li
			margin 10px 0
			width 12px
			height 12px
			a
				span
					position static
					display block
					margin 0 !important
					width 12px !important
					height 12px !important
					border 1px solid #c8c9cb
					background none
					transition .2s background ease-in-out
				&.active span
					margin 0
					background brandColor