mixin menu(prefix, items, addUlClasses, addLiClasses)
	- ulClasses = [ prefix + "-menu" ]
	- if (!!addUlClasses) ulClasses.push(addUlClasses);

	ul(class=ulClasses)
		each item, i in items
			- liClasses = [ prefix + "-menu__item" ]
			- if (!!item.children) liClasses.push(prefix + "-menu__item-has_sub");
			- if (!!addLiClasses) liClasses.push(addLiClasses);

			li(class=liClasses)
				if item.anchor
					a(data-menuanchor=item.anchor title=item.title, class="#{prefix}-menu__item-link")= item.title
				else
					a(href=item.url, title=item.title, class="#{prefix}-menu__item-link")= item.title
				if item.children
					+menu(prefix + "-sub", item.children)
h2.sr-only Main menu
+menu(prefix, items, addUlClasses, addLiClasses)