//---
	layout: layouts/campuses
	title: "Discover our campuses"
	bodyClasses: "campuses-page"
	showFeedback: true
	activeMenuIndex: 2
	visual:
		text: "Amerigo works with only the best-in-class educational institutions in the United States."
		image: "assets/i/content/pencils-v2.jpg"
		textPosition: "left-bottom"
		textColor: "dark"
		arrowAnchor: "campuses"

//- content
