//---
	layout: layouts/page
	title: "ARCHBISHOP EDWARD A. MCCARTHY HIGH SCHOOL"
	showFeedback: true
	activeMenuIndex: 2

+b.visual._text-light._text-left-bottom.section(data-anchor="campus-visual" style="background-image: url('assets/i/content/main_courtyard.jpg');"): +i({
	text: 'ARCHBISHOP<br>EDWARD A. MCCARTHY<br> HIGH SCHOOL',
	arrowAnchor: 'about-campus',
	arrowColor: "light"
})

+b("section").page-content.section.fp-auto-height(data-anchor="about-campus")
	.container
		p Archbishop Edward A. McCarthy High School is a Roman Catholic co-educational college preparatory school for students in grades 9 to 12, fully accredited by the Southern Association of Colleges and Schools and recognized as one of the Top 50 Catholic High Schools in the nation. Our beautiful 48-acre campus provides a safe, structured environment with an emphasis on faith, family, and education.
		p Archbishop McCarthy High School has been renewed as an Apple Distinguished School for 2013-2015, a two-year designation. Archbishop McCarthy joined 87 schools nationwide being recognized by Apple as exemplary learning environments and centers of innovation, leadership, and educational excellence. The Apple Distinguished School designation is reserved for schools that integrate Apple technology in education and meet criteria for the  ve best practices: visionary leadership, innovative teaching and learning, ongoing professional learning, compelling evidence of success, and a  exible learning environment.

+b("section").history.section(data-anchor="history"): +i({
	name: "ARCHBISHOP EDWARD A. MCCARTHY HIGH SCHOOL",
	title: "AT A GLANCE",
	image: "/assets/i/content/maverick_country-bw.jpg",
	text: "<p>YEAR FOUNDED &nbsp; &nbsp; 1997</p>"
		+ "<p>LOCATION &nbsp; &nbsp; Southwest Ranches, FL</p>"
		+ "<p>PRINCIPAL &nbsp; &nbsp; Richard P. Jean</p>"
		+ "<p>ENROLLMENT &nbsp; &nbsp; 1586</p>"
		+ "<p>TYPE &nbsp; &nbsp; Roman Catholic College Prep</p>"
		+ "<p># OF AP COURSES OFFERED &nbsp; &nbsp; 17</p>"
		+ "<p>DUAL ENROLLMENT PROGRAM &nbsp; &nbsp; credit granted by St. Thomas Univ. and Univ. of Florida (Online courses) </p>"
		+ "<p>% OF 2013 GRADUATES ATTENDING COLLEGE &nbsp; &nbsp; 99.9%</p>"
		+ "<p>COLLEGE SCHOLARSHIPS OFFERED TO 2013 GRADUATES &nbsp; &nbsp; Over $28,000,000 awarded </p>"
		+ "<p>RANKED 6TH IN THE TOP 25 PRIVATE SCHOOLS &nbsp; &nbsp; by South Florida Business Journal</p>"
		+ "<p>ATHLETIC ASSOCIATION &nbsp; &nbsp; Florida High School Athletic Association (FHSAA)</p>"
		+ "<p>ACCREDITATION &nbsp; &nbsp; AdvancED</p>"
		+ "<p>RECOGNIZED AS A TOP 50 CATHOLIC HIGH SCHOOL IN THE NATION &nbsp; &nbsp; Apple Distinguished School </p>"
		+ "<p>RECEIVED INNOVATIONS IN CATHOLIC ED AWARD &nbsp; &nbsp; from Today’s Catholic Teacher</p>"
})

+b("section").info-card._text-left._simple.section.fp-auto-height(data-anchor="section"): +i({
	image: "/assets/i/content/campust-tile-1.jpg",
	text: "<h3 class='info-card__subtitle'>Curriculum, AP and College Dual Enrollment</h3>"
		+ "<p>The curriculum at Archbishop Edward A. McCarthy High School is college preparatory in nature. A student who graduates from Archbishop Edward A. McCarthy High School will be well-prepared for future educational endeavors. Every department offers Honors, Advanced Placement and College Dual Enrollment opportunities. 561 Advanced Placement Exams were administered during the 2013-2014 school year, with 80% of the students scoring above the national passing rate. We have one of the largest Dual Enrollment Programs in the state with over 3000 college credit hours earned every year. Preparation for the PSAT, SAT and ACT is built into the curriculum. All Archbishop Edward A. McCarthy High School students are required to take the SAT. Our mean scores are above state and national averages.</p>"
		+ "<h3 class='info-card__subtitle'>Student Outcome</h3>"
		+ "<p>The program at our academic campus, Archbishop McCarthy High School, has an outstanding record of students gaining admission to leading colleges, with more than 99.9% of its graduates going on to attend college in 2013. Some of the colleges which McCarthy graduates have been accepted to include:</p>"
		+ "<ul class='color-grey'><li>Carnegie Mellon University</li><li>Cornell University</li><li>Georgetown University</li><li>Harvard Law School</li><li>Johns Hopkins University</li><li>New York University</li><li>Northwestern University</li><li>University of California - Berkeley</li><li>Vanderbilt University</li><li>Yale University</li></ul>"
		+ "<p>In addition, Amerigo’s partnerships and collaborations with top-choice colleges and universities in the US position students for success in their post-secondary education.  rate. We have one of the largest Dual Enrollment Programs in the state with over 3000 college credit hours earned every year. Preparation for the PSAT, SAT and ACT is built into the curriculum. All Archbishop Edward A. McCarthy High School students are required to take the SAT. Our mean scores are above state and national averages.</p>"
})

+b("section").info-card._text-left._simple.section.fp-auto-height(data-anchor="section"): +i({
	image: "/assets/i/content/campust-tile-2.jpg",
	text: "<h3 class='info-card__subtitle'>Student Outcome</h3>"
		+ "<p>The program at our academic campus, Archbishop McCarthy High School, has an outstanding record of students gaining admission to leading colleges, with more than 99.9% of its graduates going on to attend college in 2013. Some of the colleges which McCarthy graduates have been accepted to include:</p>"
		+ "<ul class='color-grey'><li>Carnegie Mellon University</li><li>Cornell University</li><li>Georgetown University</li><li>Johns Hopkins University</li><li>New York University</li><li>Northwestern University</li><li>University of California - Berkeley</li><li>Vanderbilt University</li><li>Yale University</li></ul>"
		+ "<p>In addition, Amerigo’s partnerships and collaborations with top-choice colleges and universities in the US position students for success in their post-secondary education.</p>"
		+ "<h3 class='info-card__subtitle'>College Tours</h3>"
		+ "<p>At various times throughout the school year, Amerigo students will have the opportunity to visit the campuses of their top-choice colleges through our College Tour program. We believe that it is essential that our students visit colleges, both in order to experience collegiate life in America and to develop their knowledge about their prospective colleges. College Tours will typically take place over breaks in the school year when school is not in session.</p>"
})

+b("section").info-card._text-left._simple.section.fp-auto-height(data-anchor="section"): +i({
	image: "/assets/i/content/campust-tile-3.jpg",
	text: "<h3 class='info-card__subtitle'>Campus</h3>"
		+ "<p>Archbishop Edward A. McCarthy High School’s strong commitment to academic and technological excellence is reinforced by our state-of-the-art facilities, including our iLounge, laboratories and administration building. We have four modern classroom buildings, housing our biology, chemistry, physics and computer labs. Our distinguished Fine Arts program offers more than 25 courses, plus a wide array of after-school programs, including band, drama, chorus, art and dance. Many of our productions are held in our contemporary Maverick Blackbox Theatre and our 25,000 square-foot Student and Performing Arts Center.</p>"
		+ "<p>Our spacious campus includes our multi-purpose stadium and sports complex with practice fields for JV & Varsity football, soccer, track and field, baseball; an air-conditioned 1000+ seat gymnasium; and a 3,800 square-foot Health & Fitness center.</p>"
		+ "<p>The newest addition to our campus is the iCatholicEd 21st-century classroom. The 8,000 square-foot room is a flexible learning space with retractable glass walls that allow the room to be configured as one large space or five individual classrooms.</p>"
})

+b("section").info-card._text-left._simple.section.fp-auto-height(data-anchor="section"): +i({
	image: "/assets/i/content/campust-tile-4.jpg",
	imageClass: "visible-desktop",
	subTitle: "Electives",
	anchorLabel: "photo tour",
	anchorUrl: "gallery",
	text: "<p>All electives are carefully chosen to meet the standards of highly competitive universities. They include Speech, Journalism, Debate, Meteorology, Robotics, Psychology, International Relations, Finance, Business and Entrepreneurship, Game Design, Digital Art, and Visual Technology. In addition, the school has developed an outstanding multi-faceted Fine Arts program that features all aspects of music, drama, art, dance, and speech and debate.</p><br>"
		+ "<p>To graduate, all students must earn 24 credits and satisfy the following requirements:</p>"
		+ "<ul><li>4 credits – Theology</li><li>4 credits – English</li><li>4 credits – Mathematics (minimum Algebra II)</li><li>3 credits – Social Studies</li><li>3 credits – Science (2 with lab components)</li><li>2 credits – World Languages</li><li>.5 credits – Personal Fitness</li></ul>"
})

+b("section").gallery.section(data-anchor="gallery"): +i({
	images: [
		'/assets/i/content/main_courtyard.jpg',
		'/assets/i/content/main_courtyard.jpg',
		'/assets/i/content/main_courtyard.jpg',
		'/assets/i/content/main_courtyard.jpg',
		'/assets/i/content/main_courtyard.jpg'
	]
})