//---
	layout: layouts/page
	title: "ARCHBISHOP EDWARD A. MCCARTHY HIGH SCHOOL"
	bodyClasses: "default-page"
	showFeedback: true

//- content



+b("section").collapsed-image.section(data-anchor="top"): +i({
	image: '/assets/i/content/main_courtyard.jpg',
	title: 'ARCHBISHOP<br>EDWARD A. MCCARTHY<br> HIGH SCHOOL',
	text: '<p>Archbishop Edward A. McCarthy High School is a Roman Catholic co-educational college preparatory school for students in grades 9 to 12, fully accredited by the Southern Association of Colleges and Schools and recognized as one of the Top 50 Catholic High Schools in the nation. Our beautiful 48-acre campus provides a safe, structured environment with an emphasis on faith, family, and education.</p><p>Archbishop McCarthy High School has been renewed as an Apple Distinguished School for 2013-2015, a two-year designation. Archbishop McCarthy joined 87 schools nationwide being recognized by Apple as exemplary learning environments and centers of innovation, leadership, and educational excellence. The Apple Distinguished School designation is reserved for schools that integrate Apple technology in education and meet criteria for the  ve best practices: visionary leadership, innovative teaching and learning, ongoing professional learning, compelling evidence of success, and a  exible learning environment.</p>'
})
+b("section").history.section(data-anchor="history"): +i({
	name: "ARCHBISHOP EDWARD A. MCCARTHY HIGH SCHOOL",
	title: "AT A GLANCE",
	image: "/assets/i/content/maverick_country-bw.jpg",
	text: "<strong>YEAR FOUNDED</strong> 1997<br>"
		+ "<strong>LOCATION</strong> Southwest Ranches, FL<br>"
		+ "<strong>PRINCIPAL</strong> Richard P. Jean<br>"
		+ "<strong>ENROLLMENT</strong> 1586<br>"
		+ "<strong>TYPE</strong> Roman Catholic College Prep<br>"
		+ "<strong># OF AP COURSES OFFERED</strong> 17<br>"
		+ "<strong>DUAL ENROLLMENT PROGRAM</strong> credit granted by St. Thomas Univ. and Univ. of Florida (Online courses) <br>"
		+ "<strong>% OF 2013 GRADUATES ATTENDING COLLEGE</strong> 99.9%<br>"
		+ "<strong>COLLEGE SCHOLARSHIPS OFFERED TO 2013 GRADUATES</strong> Over $28,000,000 awarded <br>"
		+ "<strong>RANKED 6TH IN THE TOP 25 PRIVATE SCHOOLS</strong> by South Florida Business Journal<br>"
		+ "<strong>ATHLETIC ASSOCIATION</strong> Florida High School Athletic Association (FHSAA)<br>"
		+ "<strong>ACCREDITATION</strong> AdvancED<br>"
		+ "<strong>RECOGNIZED AS A TOP 50 CATHOLIC HIGH SCHOOL IN THE NATION</strong> Apple Distinguished School <br>"
		+ "<strong>RECEIVED INNOVATIONS IN CATHOLIC ED AWARD</strong> from Today’s Catholic Teacher"
})
