//---
	layout: layouts/campuses
	title: "AMERIGO CAMPUSES"
	showFeedback: true
	visual:
		title: "Studying on an Amerigo Global Campus provides students with unique academic, cultural, and social opportunities that will prepare students for success at American universities."
		image: "assets/i/program-visual-img.jpg"

//- content
