//---
	layout: layouts/contacts
	title: "CONTACT US"
	activeMenuIndex: 4
	blockquote:
		text: "“Education is the key to unlock the golden door of freedom.”"
		cite: "George Washington Carver"
	sections:
		- title: "Prospective Students"
		  text: "We are thrilled to have a growing number of students interested in our program. If you would like to learn more about Amerigo or have any questions, please let us know at <a href='mailto:admissions@amerigoeducation.com'>admissions@amerigoeducation.com</a>"
		- title: "Partners"
		  text: "We are looking for partners that share our mission of making a global perspective an essential part of classrooms and school communities. If you represent a secondary school or other organization interested in partnering with Amerigo, please connect with us at <a href='mailto:partners@amerigoeducation.com'>partners@amerigoeducation.com</a>"
		- title: "Careers"
		  text: "Our team members are vital to our mission to provide a premium educational experience to students from around the globe and to assist American schools transition into the era of global learning. If you are interested in learning more about opportunities at Amerigo, please email us at <a href='careers@amerigoeducation.com'>careers@amerigoeducation.com</a>"

//- content