//---
	layout: layouts/frontPage
	bodyClasses: "front-page"
	showFeedback: true
	visual:
		image: "assets/i/welcome-img.jpg"
		text: "Amerigo opens the door to unparalleled educational and cultural opportunities for high school students that are seeking a journey of learning and exploration in the United States."
		textPosition: "left-bottom"
		textColor: "light"
		arrowColor: "light"
	about:
		image: "assets/i/about-img.jpg"
		title: "When a student is accepted to an Amerigo Global Campus, they begin the journey to success at the best universities in the United States."
		text: "At Amerigo, we are the preeminent provider of American education services to students from around the world. Amerigo’s personalized approach supports students from the moment they are accepted to our program to the day that they enter university. Central to the Amerigo mission is a results-driven, collaborative approach to preparing students for matriculation into their top-choice American colleges and universities. Our curriculum enhances rigorous high school courses with thorough instruction in English, co-curricular experiential learning and travel, and study skills necessary for success."
	overview:
		title: "Organizational overview"
		text: "Your child’s educational leadership partner, Amerigo, is an organization composed of teachers, university board of trustee members, educational entrepreneurs, educational fund managers, children’s hospital research fund board members, and library board members. Simply put we love the future of education and have been investing our time heavily in shaping it since 1983."
		listTitle: "Meet your child’s <br>educational partners:"
		list:
			- name: "Chris Hoehn-Saric"
			  position: "Senior Managing Director"
			  image: "assets/i/chris-hoehn-saric.jpg"
			  text: "Chris co-founded Sterling in 1983 and is a Senior Managing Director. Prior to re-joining the Sterling team, Chris operated as CEO of portfolio company Educate, Inc. and Chairman and Co-CEO of Sylvan Learning Systems, Inc. Chris is a member of the Boards of Trustees for Johns Hopkins University and Sheridan Libraries. He attended Johns Hopkins University."
			- name: "Jason Rosenburg"
			  position: "Managing Director, Education Opportunity Fund"
			  image: "assets/i/jason-rosenburg.jpg"
			  text: "Jason joined Sterling in 2005 and is a Managing Director of the Education Opportunity Fund. Prior to Sterling, he worked at Found, Inc. and in the investment banking division of Lehman Brothers. Jason received a BA from Northwestern University, a JD from the Northwestern University School of Law, and an MBA from the Kellogg School of Management. Jason is a member of the Board of the Children’s Research Fund at the Children’s Hospital of Chicago."
			- name: "Alana Rush"
			  position: "Senior Associate"
			  image: "assets/i/alana-rush.jpg"
			  text: "Alana joined Sterling in 2015 as Senior Associate, Education Opportunity Fund. Prior to Sterling, Alana was a Consultant with The Parthenon Group’s Emerging Markets Education Practice. Prior to Parthenon, she was a Teaching Fellow at Philips Academy Andover.  She received a BS with honors from the University of Florida and an MBA from the Wharton School of Business."

//- content