//---
	layout: layouts/tiles
	title: "AMERIGO PROGRAM"
	bodyClasses: "program-page"
	showFeedback: true
	visual:
		text: "Studying on an Amerigo Global Campus provides students with unique academic, cultural, and social opportunities that will prepare students for success at American universities."
		image: "assets/i/content/program-visual-img.jpg"
	sections:
		- program: "program-baccalaureate"
		  contentPosition: "right"
		  title: "Amerigo Baccalaureate"
		  image: "assets/i/content/program-baccalaureate.jpg"
		  subTitle: "Preparing global students for success at top-choice US universities."
		  text: "At the heart of the Amerigo experience is an outcomes-based personalized approach to preparing our high school students for matriculation into their top-choice colleges and universities in the United States. A student who completes the Amerigo program will be well-prepared for future educational endeavors through advanced academic coursework such as Honors, Advanced Placement, and dual enrollment opportunities across disciplines. Students will take electives carefully selected to meet the standards of highly competitive universities. As part of the Amerigo program, our students participate in our co-curricular offerings focused on success in American classrooms including study skills, critical thinking, and public speaking."
		  anchorLabel: "English language"
		  anchorUrl: "program-english-language"
		- program: "program-english-language"
		  contentPosition: "left"
		  title: "English Language"
		  image: "assets/i/content/program-english-language.jpg"
		  subTitle: "English Language"
		  text: "In addition to traditional coursework, each student’s language fluency will be bolstered by English Language instruction in both individual and small group settings. Our program is designed to prepare students for English proficiency both inside and outside of the classroom, focusing on academic vocabulary, cultural proficiency, public speaking, and critical thinking skills. This curriculum focuses on mastery and fluency and includes active language practice in real-life settings.  When our students matriculate to US colleges and universities, they will be prepared for unparalleled success on campus with a masterful command of the English language."
		  anchorLabel: "University Preparation"
		  anchorUrl: "program-university-preparation"
		- program: "program-university-preparation"
		  contentPosition: "right"
		  title: "University Preparation"
		  image: "assets/i/content/program-university-preparation.jpg"
		  subTitle: "University Preparation"
		  text: "At Amerigo we recognize the importance of college prep as a supplement to academics.  We are committed to provide support services for university counseling and advising, a personalized approach to university matching and selection, test prep, college interview preparation and college visits. Our team and partner schools are trained to help prepare students for the entire process.  We have strong ties with selective US universities that will help give students the tools and resources they need to get into great schools."
		  anchorLabel: "Contact us"
		  anchorUrl: "feedback"

//- content