//---
	layout: layouts/tiles
	title: "STUDENT LIFE"
	bodyClasses: "tiles-page"
	showFeedback: true
	activeMenuIndex: 3
	visual:
		text: "Students will be supported in a safe, nurturing environment that will ensure that they have the skills required to succeed both in the classroom and as a leader within a larger global community."
		image: "assets/i/content/student-life-visual.jpg"
		textPosition: "left-bottom"
		textColor: "dark"
		arrowColor: "light"
		arrowAnchor: "residential-life"
	sections:
		- program: "residential-life"
		  contentPosition: "right"
		  title: "Residential Life"
		  titleLabel: "Student life"
		  image: "assets/i/content/student-life-img-1.jpg"
		  subTitle: "Building a safe, secure home for every one of our students."
		  text: "Student safety is a top priority.  Our boarding program brings together students from around the world to form a safe, nurturing community that enables students to immerse themselves in American culture in a collaborative and supportive environment. Students will reside in modern, secure residential dorm buildings with on-site Amerigo residential life team members.  Facilities will have state-of-the-art technology and resources that ensure students will succeed."
		- program: "cultural-immersion"
		  contentPosition: "left"
		  title: "Cultural Immersion"
		  titleLabel: "Student life"
		  image: "assets/i/content/student-life-img-2.jpg"
		  subTitle: "Immersing our students in American culture for success in a global world."
		  text: "We believe that building strong cultural competencies and the ability to navigate an increasingly global landscape inspires students for success at university and beyond. Our students participate in programs that prepare them for success in every dimension of American life. In addition to our strong academic offerings, our students are given access to numerous academic, cultural, and social opportunities outside of the classroom designed to give them a holistic American experience–preparing them for a seamless transition to success at their top-choice US university."
		- program: "technology"
		  contentPosition: "right"
		  title: "Technology"
		  titleLabel: "Student life"
		  image: "assets/i/content/student-life-img-3.jpg"
		  subTitle: "Keeping students connected with their studies, their families, and the world"
		  text: "Technology is an essential part of a student’s life at Amerigo. Our students are connected to their schools, parents, each other, and the world in and out of the classroom.  We integrate technology throughout our programs in order to support their personal, academic, and cultural success.  Every day, we prepare our students to navigate the next frontiers of critical thinking, innovation and global citizenship."
		- program: "activities"
		  contentPosition: "left"
		  title: "Activities"
		  titleLabel: "Student life"
		  image: "assets/i/content/student-life-img-4.jpg"
		  subTitle: "Exploring America outside of the classroom"
		  text: "During extended breaks throughout the year (Fall Break, Spring Break, optional summer travel), Amerigo students will have opportunities to participate in our cultural immersion programs, camps, and tours of college campuses. Amerigo takes advantage of school breaks to provide our students with opportunities to gain exposure to top US colleges and universities, develop new skills, and explore American culture with their peers."
		- program: "campus-tours-travel"
		  contentPosition: "right"
		  title: "Campus Tours & Travel"
		  titleLabel: "Student life"
		  image: "assets/i/content/student-life-img-5.jpg"
		  subTitle: "Broadening the horizons of our students’ learning"
		  text: "During extended breaks throughout the year (Fall Break, Spring Break, optional Summer travel), Amerigo students participate in our cultural immersion programs, camps, and tours of college campuses. Students experience some of the most breathtaking, culturally significant sights across the United States with their peers on unique, enriching journeys. Amerigo takes advantage of school breaks to provide our students with opportunities to gain exposure to top US colleges and universities, develop new skills, and explore American culture with their friends."

//- content