//---
	layout: layouts/main
	title: STYLES

.container
	.rich-text
		h1 This is H1 headline <small>(40px)</small>
		h2 This is H2 headline <small>(30px)</small>
		h3 This is H3 headline <small>(26px)</small>
		h4 This is H4 headline <small>(24px)</small>
		h5 This is H5 headline <small>(20px)</small>
		h6 This is H6 headline <small>(18px)</small>

		p Lorem ipsum dolor sit amet, <a href="/">consectetur adipiscing</a> elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. 
		br
		br
		a(data-toggle="modal" href="#language-modal") Language modal
		br
		br
		br
		br