::selection
	background-color rgba(0, 0, 0, 0.5)
	color #fff
::-moz-selection
	background-color rgba(0, 0, 0, 0.5)
	color #fff

*
	font-smoothing antialiased
	box-sizing border-box
	&:before
	&:after
		box-sizing border-box

html
body
	margin 0
	padding 0
	height 100%

body
	position relative
	font-family mainFont
	font-size 16px
	font-weight 100
	line-height 1.7
	color siteColor
	overflow-x hidden !important
	background-color #fff
	-webkit-tap-highlight-color transparent
	&.menu-open
		overflow hidden !important

[data-menuanchor]
	cursor pointer

.root
	position relative
	min-height 100%
	padding-bottom 238px
	.menu-open &
		&:after
			content ''
			position absolute
			top 0
			right 0
			bottom 0
			left 0