::selection
	background-color rgba(0, 0, 0, 0.5)
	color #fff
::-moz-selection
	background-color rgba(0, 0, 0, 0.5)
	color #fff

*
	font-smoothing antialiased
	box-sizing border-box
	&:before
	&:after
		box-sizing border-box

html
body
	margin 0
	padding 0
	height 100% !important

body
	background red
	position relative
	font-family mainFont
	font-size 16px
	font-weight 100
	line-height 1.7
	color siteColor
	overflow hidden !important
	background-color #fff
	-webkit-tap-highlight-color transparent
	&.menu-open
	.native-scroll &.menu-open
		overflow hidden !important
		pointer-events none
		.header, .mobile-menu
			pointer-events auto !important
			
	.native-scroll &
		overflow auto !important
		-webkit-overflow-scrolling touch
		
		

[data-menuanchor]
	cursor pointer

	
.animsition-loading
	background-color: transparent !important
	border-top: 3px solid lighten(brandColor, 20%) !important
	border-right: 3px solid lighten(brandColor, 20%) !important
	border-bottom: 3px solid lighten(brandColor, 20%) !important
	border-left: 3px solid lighten(brandColor, 80%) !important

.root
	overflow hidden
	position fixed
	top 0
	left 0
	right 0
	bottom 0
	background-color #ececeb
	.native-scroll &
		overflow auto
		position relative
		top auto
		left auto
		right auto
		bottom auto
	&__body
		background-color #ffffff
		position relative
	
	.menu-open &
		&:after
			content ''
			position absolute
			top 0
			right 0
			bottom 0
			left 0

.iScrollVerticalScrollbar
	.iScrollIndicator
		min-height 200px
		@media tablet
			min-height 100px
		@media phone
			min-height 50px