.sr-only
	position absolute
	width 1px
	height 1px
	padding 0
	margin -1px
	overflow hidden
	clip rect(0,0,0,0)
	border 0

.row
	clearfix()
	margin 0 -15px
	@media phone
		margin 0 -10px

for item in 1..12
	.col-{item}
		width (100% / 12 * item)

[class^="col-"]
[class*=" col-"]
	position relative
	padding 0 15px
	float left
	min-height 1px
	@media phone
		float none
		width auto
		padding 0 10px

.fade
	opacity 0
	transition opacity .15s linear
	&.in
		opacity 1

.color-grey
	color #808080

.erorr-input
	border-color brandColor

.styled-title
	margin-bottom 15px
	font-family garamondPremier
	font-size 30px
	font-style italic
	color brandColor

.hidden
	&-desktop
		@media desktop
			display none !important
	&-phone
		@media phone
			display none !important
.visible
	&-desktop
		display none
		@media desktop
			display block
	&-phone
		display none
		@media phone
			display block
			span&
				display inline