h1, h2, h3, h4, h5, h6
	font-weight bold

h1
	font-size 43px
	margin 0 0 20px

h2
	font-size 40px
	margin 0 0 20px

h3
	font-size 36px
	margin 0 0 20px

h4
	font-size 23px
	margin 0 0 15px

h5
	font-size 21px
	margin 0 0 15px

h6
	font-size 16px
	margin 0 0 15px
	
p
	margin 0 0 15px

a
	color siteColor
	transition .2s color ease-in-out
	&:hover
		color brandColor
	&:focus
		outline none

code
	font-family Menlo, Monaco, Consolas, "Courier New", monospace
	padding 2px 4px
	font-size 80%
	color #c7254e
	background-color #f9f2f4
	border-radius 5px
