extends main

block main
	if file.visual
		- classes = ""
		if file.visual.textPosition
			- classes = "visual_text-" + file.visual.textPosition
		if file.visual.textColor
			- classes += " visual_text-" + file.visual.textColor
		+b.visual.section(class=classes data-anchor="welcome" style="background-image: url('#{file.visual.image}');"): +i({ text: file.visual.text, arrowAnchor: file.visual.arrowAnchor, arrowColor: file.visual.arrowColor })

	+b("section").campuses.section(data-anchor='campuses')
		.container
			+e("h1").title= file.title
			+e.list
				each item in campuses
					+e.item
						+b.campus: +i(item)
			//- +e("a").join-link(href="/contacts.html")!= tr('Become an EDUCATIONAL partner')

