extends main

block main
	!= content
	+visual()
		
	+b("section").campuses.section.fp-auto-height(data-anchor='campuses')
		.container
			+e("h1").title= file.title
			+e.list
				each item in campuses
					+e.item
						+b.campus: +i(item)

