extends main

block main
	if file.title
		h1.sr-only= file.title
	+b.page._contacts
		.container
			+e.sidebar
				blockquote
					p!= file.blockquote.text
					cite!= file.blockquote.cite
			+e.content
				!= content