extends main

block main
	h1.sr-only= site.title
	+b.welcome.section(data-anchor="welcome" style="background-image: url('#{file.welcome.image}');"): +i({ text: file.welcome.text })

	+b("section").about.section(data-anchor="about"): +i({ image: file.about.image, title: file.about.title, text: file.about.text })

	+b("section").overview.section.fp-auto-height(data-anchor="overview"): +i({ title: file.overview.title, text: file.overview.text, listTitle: file.overview.listTitle, items: file.overview.list })


