doctype html
html
	head
		meta(charset="UTF-8")
		meta(content="width=device-width, minimum-scale=1, maximum-scale=1", name="viewport")
		meta(name="author", content="SE7ENSKY frontend studio <hello@se7ensky.com>")
		meta(name="theme-color" content="#e53c26")
		title
			block title
				if file.title
					| #{file.title} – #{site.title}
				else
					| #{site.title}
		- wp_title()
		script.
			var preloaded = sessionStorage.getItem('preloaded');
			if (preloaded == 'true') {
				var root = document.documentElement;
				root.className += ' preloaded';
			}
		- wp_head()

			
	body
		style#preloader-styles
			:stylus
				html.preloaded .preloader
					display none
				.preloader
					position fixed
					top 0
					right 0
					bottom 0
					left 0
					background-color #fff
					z-index 999
					&__badge
						position absolute
						top 0
						left 50%
						margin-left -62px
						background url("/assets/i/logo-badge.svg") no-repeat 0 bottom
						width 124px
						height 60%
						max-height 1500px
						transform-origin 50% 0
						@media phone
							height 40%
					&__logo
						position absolute
						z-index 2
						top 60%
						left 50%
						width 318px
						margin-top 80px
						margin-left -(@width / 2)
						@media phone
							top 40%
							width 300px
							margin-left -150px
						&-main
							display block
							margin 0 auto
							width 318px
							height 23px
							@media phone
								width 300px
						&-text
							display block
							margin 30px auto 0
							width 236px
							height 10px
					&__stamp
						position absolute
						right 30px
						bottom 30px
				.animsition
					opacity 0
					

		+b.preloader: +i
		.animsition
			+b("header").header: +i({activeMenuIndex: file.activeMenuIndex})
			.root
				.root__body
					block root
						!= content
					+b("footer").footer: +i

			+b.mobile-menu: +i
			+b.modals: +i

		block fonts
		block styles
		block scripts
		block analytics

		- wp_footer()
