extends main

block main
	+visual()
		
	if file.sections
		each section in file.sections
			- classes = ""
			if section.contentPosition
				- classes = "info-card_text-" + section.contentPosition
			+b("section").info-card.section.fp-auto-height(class=classes data-anchor=section.program): +i({ image: section.image, title: section.title, titleLabel: section.titleLabel, subTitle: section.subTitle, text: section.text, anchorLabel: section.anchorLabel, anchorUrl: section.anchorUrl, anchorArrowColor: section.anchorArrowColor })



