.container
	+e("a").logo(href="/")
		+e("img").logo-img(src=asset("i/amerigo-logo.svg") alt="" width="80" height="54")
	+b("nav").menu.__menu: +i({ prefix: "main", items: mainMenu, activeMenuIndex: activeMenuIndex })