.container
	+e("a").logo(href="/")
		+e("img").logo-img(src=asset("i/amerigo-logo.svg") alt="" width="80" height="54")
	+b("nav").menu.__menu: +i({ prefix: "main", items: mainMenu, activeMenuIndex: activeMenuIndex })
	+e.menu-toggle
		+e.menu-toggle-line
		+e.menu-toggle-line
		+e.menu-toggle-line
		+e.menu-toggle-line

	//+b.mobile-menu
	//	+e("div").block
	//		+e("span").line
	//		+e("span").line
	//		+e("span").line
	//		+e("span").line
	//+b.mobile-submenu
	//	+b("nav").menu.__nav: +i({ prefix: "nav", items: footerMenu, activeMenuIndex: activeMenuIndex })
	//	+e.section
	//		+e.section-title Contact us
	//		+e.address!= site.address
	//	+e.section
	//		+e.section-title Language
	//		+e("ul").language
	//			each item, i in langs
	//				+e("li").language-item
	//					+e("a").language-link(href=item.url)= item.title